html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    background: none;
    background-size:cover;
    transition: background-image 0.5s ease;
}

.clear {
    background-image: url('images/sunny.jpg');
}

.partially-cloudy {
    background-image: url('images/cloud.jpg');
}

.rain-partially-cloudy {
    background-image: url('images/rain.jpg');
}

.rain-overcast {
    background-image: url('images/rain.jpg');
}

.overcast {
    background-image: url('images/overcast.jpg');
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather-input {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;

}

.toggle {
    display: flex;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    left: 50px;
    top: 5px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.country {
    text-align: center;
    font-size: xx-large;
}


.weather-display {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
}

.day-forecast {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    width: 150px;
    text-align: center;
}